
<%= render partial: "timetable", locals: {timetable: @timetable, legend: capture do %>

<%= form_for @timetable do |f| %>
  
  <div style="overflow:hidden;">
    <div style="float: right;">
      <input type="submit" value="Submit" />
    </div>
  </div>

<% Lecture.all.each do |lecture| %>
    <div class="legend-item lecture" data-time="<%=lecture.time%>" data-lid="<%=lecture.lid%>" data-color="<%=lecture.color%>">
      <input type="checkbox" id="lecture_<%=lecture.lid%>" name="lectures[]" value="<%=lecture.lid%>" style="display: none; "/>
      <div class="legend-item-color" style="background-color: <%=lecture.color%>; visibility: hidden;"></div>
      <div class="legend-item-text">
        <label for="lecture_<%=lecture.lid%>" style="display: block;"> <%= lecture.name %> </label>
      </div>
    </div>
<% end %>
<% end %>
<% end } %>

