	 <% if current_user %>
		<strong><%= current_user.name %></strong>님 
		<%= link_to "Sign out", signout_path, id: "sign_out" %>

  <% end %>

  <li><p class="write"><%=current_user.name%></p></li>
     <li><p class="write">정보 컴퓨터 공학과</p></li>
     <li><p class="write"><%=current_user.sid%></p></li>
     <li><p class="write">4학년</p></li>
     <li><p class="write">신입학</p></li>
     <li><p class="write">재학</p></li>
   	 </ul>
	<%= link_to "make common timetable", "/timetable/common_table"%>
